{#
/**
 * Returns default HTML for an oEmbed object.
 *
 * Available variables
 * - media: The media object from the Essence library.
 * - attributes: HTML attributes for the containing element.
 */
#}
<div{{ attributes }}>
  {{ html }}
</div>
